@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Exo', sans-serif;
    }
}

*::-webkit-scrollbar {
    display: none;
}

body div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background: linear-gradient(315deg, rgba(0, 159, 198, 1) 25%, rgba(78, 185, 131, 1) 75%);
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: auto;
}